# ===================================================================
# artellapipe-libs-maya requirements file
# ===================================================================
pytest
pytest-cov
coveralls
tpPyUtils